#email: willagropastoral@gmail.com
#password: duo.cmr.willagropastoral
willagropastoral:
  admins: silatsamdylan@gmail.com
  leaders: willagropastoral@gmail.com

# Proxy pour les téléchargements de fichiers externes

spring:
  profiles:
    active: google
  datasource:
    username: willagropastoral
    password: iamgroot
    url: jdbc:postgresql://localhost:15000/willagropastoral

  flyway:
    create-schemas: true
    url: jdbc:postgresql://localhost:15000/willagropastoral
    user: willagropastoral
    password: iamgroot

  resources:
    chain:
      proxy:
        host: willagropastoral
        port: 80

  mail:
    default-encoding: UTF-8
    host: smtp.gmail.com
    port: 587
    #host: localhost
    #port: 1025
    username: dysha237@gmail.com
    password: oboaeknjxqtyamoi
    protocol: smtp
    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000


  logging:
    level:
      root: debug

  server:
    port: 80

  main:
      allow-bean-definition-overriding: true

amigos.Yml: >
  server:
    error:
      include-message: always
      include-binding-errors: always

  spring:
    datasource:
      password:
      url: jdbc:postgresql://localhost:5432/registration
      username:
    jpa:
      hibernate:
        ddl-auto: create-drop
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
      show-sql: true
