<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/jobindex.css}" type="text/css" href="../static/css/jobindex.css"/>
    <link rel="stylesheet" th:href="@{/css/addpfiles.css}" type="text/css" href="../static/css/addpfiles.css"/>
    <script>
        function checkFileSize() {
            var fileInput = document.getElementById('file');
            var file = fileInput.files[0];
            var errorMessage = document.getElementById('error-message');

            if (file && file.size > 5000000) {
                errorMessage.style.display = 'block';
                return false;
            } else {
                errorMessage.style.display = 'none';
                return true;
            }
        }
    </script>
</head>
<body>
<header th:replace="fragments/general.html :: dyshaJobsHeader"></header>

<div th:if="${dyshaFile}">
    <form onsubmit="return checkFileSize()" th:if="${((dyshaFile.tableName == 'Profil_photo_image' || dyshaFile.tableName == 'ID_Card_document' || dyshaFile.tableName == 'CV_document' || dyshaFile.tableName == 'Last_Diplome_document') && globalUser.user.role.name() == 'ROLE_USER') || globalUser.isAdmin() || globalUser.user.role.name() == 'ROLE_LEADER'}" th:object="${dyshaFile}" th:action="@{/dyshajobs/files}" method="post" enctype="multipart/form-data">
        <!-- ID utilisateur -->
        <label hidden for="userId"></label>
        <input  hidden th:value="${dyshaFile.userId}" type="number" id="userId" name="userId"/>

        <!-- Nom de la table -->
        <label hidden for="tableName"></label>
        <input hidden th:value="${dyshaFile.tableName}" type="text" id="tableName" name="tableName"/>

        <!-- ID de l'entité -->
            <div th:unless="${globalUser.isAdmin}">
                <label hidden for="entityId"></label>
                <input  hidden th:value="${dyshaFile.entityId}" type="number" id="entityId" name="entityId"/>

                <label hidden for="fileType"></label>
                <input hidden th:value="${dyshaFile.fileType}"  type="text" id="fileType" name="fileType"/>
            </div>

        <div th:if="${#fields.hasErrors('fileType')}" th:errors="*{fileType}" class="alert alert-danger"></div>
        <div id="error-message" class="alert alert-danger error-message" style="display: none;">Le fichier sélectionné dépasse la taille maximale autorisée. Veuillez compresser votre image</div>
        <!-- Choisir la photo -->
        <label for="file">Chosse the File to upload</label>
        <input type="file" id="file" name="file"/>

        <!-- Bouton Soumettre -->
        <input type="submit" value="Submit"/>
    </form>
</div>
    <!-- liste des fichiers -->
<div class="container" th:if="${dyshaFiles}">
    <h1>Liste de vos fichiers</h1>
    <table>
        <thead>
        <tr>
            <th>Cathegorie</th>
            <th>Type de fichier</th>
            <th>Telchargement</th>
            <th th:if="${globalUser.isAdmin()}">Surpimer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${dyshaFiles}">
            <td th:text="${file.tableName}"> <span th:if="${globalUser.isAdmin()}" th:text="${file.entityId}"></span></td>
            <td th:text="${file.fileType}"></td>
            <td class="jobs" >
                <a th:href="@{/dyshajobs/download/file/{fileId}(fileId=${file.id})}" th:text="${file.file != null ? 'Télécharger' : 'Aucun fichier'}"></a>
            </td>
            <td class="delete-file" >
                <form th:if="${globalUser.isAdmin()}" th:action="@{/dyshajobs/delete/file}" method="post">
                    <input type="hidden" name="fileId" th:value="${file.id}" />
                    <button type="submit" th:text="${file.file != null ? 'Suprimer ce fichier' : 'Aucun fichier'}">Suprimer le fichier</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="fragments/general.html :: dyshaJobsFooter"></footer>
</body>
</html>