<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/dyshaworker.css}" type="text/css" href="../static/css/dyshaworker.css"/>

</head>
<body>

<header>
  <h1>Liste des employés</h1>
</header>
<main>
  <div class="employers-list">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Localisation</th>
        <th>Debut d'activité</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dsworker : ${dyshaworkers}">
        <td th:text="${dsworker.name}"></td>
        <td th:text="${dsworker.description}"></td>
        <td th:text="${dsworker.localisation}"></td>
        <td th:text="${dsworker.startedOn}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<footer>
  <p>&copy; 2023 - Tous droits réservés</p>
</footer>

</body>
</html>