<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dysha-Postulats</title>
    <link rel="stylesheet" th:href="@{/css/jobindex.css}" type="text/css" href="../static/css/jobindex.css"/>
    <link rel="stylesheet" th:href="@{/css/dyshapostulats.css}" type="text/css" href="../static/css/dyshapostulats.css"/>

</head>
<body>
<header th:replace="fragments/general.html :: dyshaJobsHeader"></header>
<div class="worker-jobs">
    <h2>Liste des jobs</h2>
    <div class="worker-job" th:each="workerJob : ${jobRelations}">
        <div class="worker-job-info">
            <div class="worker-job-id">ID : [[${workerJob.id}]]</div>
            <div class="worker-job-validation">Validation : [[${workerJob.validation}]]</div>
            <div class="worker-job-started-on">Commencé le : [[${workerJob.startedOn}]]</div>
        </div>
        <div class="worker-job-actions">

            <a class="view-profile" th:href="@{/dyshajobs/dyshaprofil/{id}(id=${workerJob.workerId})}">Voir le profil du postulant</a>
            <a class="validate-job" th:if="${workerJob.validation}" th:href="@{/dyshajobs/files/{tablename}/{entityid}/{filesType} (tablename='CV_document', entityid=${workerJob.workerId}, filesType='pdf')}">Televerser le contrat de Travail</a>
            <form th:if="${!workerJob.validation}" th:action="@{/dyshajobs/validatejobrelation}" method="post">
                <input type="hidden" name="id" th:value="${workerJob.id}" />
                <button type="submit" class="validate-job">Valider le postulat</button>
            </form>
            <form th:action="@{/dyshajobs/deletejobrelation}" method="post">
                <input type="hidden" name="id" th:value="${workerJob.id}" />
                <button type="submit" class="delete-job">Suprimer ce postulat</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/general.html :: dyshaJobsFooter"></footer>
</body>
</html>