<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'accueil - Dysha - jobs</title>
  <link rel="stylesheet" th:href="@{/css/jobindex.css}" type="text/css" href="../static/css/jobindex.css"/>
</head>
<body>
<main>
  <section class="jobs">
    <h2>Derniers jobs</h2>
    <ul>
      <li th:each="job : ${jobs}">
        <h3 th:text="${job.title} + ' chez ' + ${job.entreprise}"></h3>
        <p th:text="${job.description}"></p>
        <p>Posté le <span th:text="${job.postedDate}"></span> par <span th:text="${job.getEmployeur}"></span> à <span th:text="${job.lieu}"></span></p>
      </li>
    </ul>
  </section>
</main>
<footer>
  <p>&copy; 2023 - Site de jobs</p>
</footer>
</body>
</html>
