<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'accueil - Dysha - jobs</title>
  <link rel="stylesheet" th:href="@{/css/jobindex.css}" type="text/css" href="../static/css/jobindex.css"/>
</head>
<body>
<div class="main-content">
<header th:replace="fragments/general.html :: dyshaJobsHeader"></header>
<main th:object="${globalUser}">
  <section th:if="${jobs}" th:replace="fragments/general.html :: dyshaJobsListe(jobs=${jobs}, class='searchs', tittre=${jobs.size} + ' Resultats pour votre recherche')"></section>
  <section th:if="${jobs}" th:replace="fragments/general.html :: dyshaJobsListe(jobs=${jobs}, class='jobs', tittre='Un appercu de jobs que nous proposons pour l\'instant')"></section>

</main>
</div>
<footer th:replace="fragments/general.html :: dyshaJobsFooter"></footer>
</body>
</html>
