<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'accueil - Dysha - jobs</title>
  <link rel="stylesheet" th:href="@{/css/jobindex.css}" type="text/css" href="../static/css/jobindex.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stompjs@^2.3.3/dist/stomp.min.js"></script>
  <script th:inline="javascript">
    var stompClient = null;
    function connect() {
      var socket = new SockJS('/my-websocket-endpoint');
      stompClient = Stomp.over(socket);
      stompClient.connect({}, function () {
        stompClient.subscribe('/topic/maTableUpdates', function (message) {
          var jobs = JSON.parse(message.body);
          updateData(jobs);
        });
      });
    }
    function updateData(jobs) {
      // Sélectionner l'élément HTML qui contiendra les données mises à jour
      const jobList = document.getElementById('jobs');

      // Effacer le contenu précédent de la liste des emplois
      jobList.innerHTML = '';

      // Parcourir la liste des emplois et ajouter chaque emploi à la liste
      jobs.forEach((job) => {
        const jobItem = document.createElement('li');
        jobItem.textContent = job.title;
        jobList.appendChild(jobItem);
      });
    }
    $(document).ready(function () {
      connect();
    });
  </script>
</head>
<body>
<div class="main-content">
<header th:replace="fragments/general.html :: dyshaJobsHeader"></header>
<main th:object="${globalUser}">
  <section th:if="${searchJobs && searchJobs != null}" th:replace="fragments/general.html :: dyshaJobsListe(jobs=${searchJobs}, class='searchs', tittre='' + ${searchJobs.size} + ' Resultats pour votre recherche')"></section>
  <section th:if="${jobs}" th:replace="fragments/general.html :: dyshaJobsListe(jobs=${jobs}, class='jobs', tittre='Un appercu de jobs que nous proposons pour l\'instant')"></section>

</main>
</div>
<footer th:replace="fragments/general.html :: dyshaJobsFooter"></footer>
</body>
</html>
