<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'accueil - Dysha - jobs</title>
  <link rel="stylesheet" th:href="@{/css/jobliste.css}" type="text/css" href="../static/css/jobliste.css"/>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="#" th:href="@{/}">Accueil</a></li>
      <li><a href="#" th:href="@{/jobs}">Liste des jobs</a></li>
      <li><a href="#" th:href="@{/employers}">Liste des employeurs</a></li>
      <li><a href="#" th:href="@{/profile}">Mon profil</a></li>
    </ul>
    <form>
      <input type="text" placeholder="Rechercher un job...">
      <button type="submit">Rechercher</button>
    </form>
  </nav>
</header>
<main>
  <section class="jobs">
    <h2>Derniers jobs</h2>
    <ul>
      <li th:each="job : ${jobs}">
        <h3 th:text="${job.title}"></h3>
        <p th:text="${job.description}"></p>
        <p>Posté le <span th:text="${job.postedDate}"></span> par <span th:text="${job.employer}"></span> à <span th:text="${job.lieu}"></span></p>
      </li>
    </ul>
  </section>
</main>
<footer>
  <p>&copy; 2023 - Site de jobs</p>
</footer>
</body>
</html>
