<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/productliste.css}" type="text/css" href="../static/css/productliste.css"/>
  <link rel="stylesheet" th:href="@{/css/newproduct.css}" type="text/css" href="../static/css/newproduct.css"/>
  <title>Créer un nouveau produit</title>
</head>
<body>
<header th:replace="fragments/general.html :: goodDealsHeader"></header>
<h1>Créer un nouveau produit</h1>
<div class="container">
  <form method="post" th:object="${productForm}" enctype="multipart/form-data" th:action="@{/newproduct}">
    <label hidden for="userEmail"></label>
    <input type="text" id="userEmail" name="userEmail" hidden><br>

    <label for="titre" hidden>Titre:</label>
    <input type="text" id="titre" name="titre" required><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea><br>

    <label for="prix">Prix:</label>
    <input type="number" id="prix" name="prix" step="0.01" required><br>

    <label hidden for="active"></label>
    <input type="checkbox" id="active" name="active" checked hidden><br>
     <!--:TODO fetch location data automatically.-->
    <label for="city">Ville:</label>
    <input type="text" id="city" name="city" required><br>

    <label for="quartier">Quartier:</label>
    <input type="text" id="quartier" name="quartier"><br>

    <!--label for="image">Image:</label>
    <input type="file" id="image" name="image"><br-->

    <label for="vente">Vente:</label>
    <input type="checkbox" id="vente" name="vente" class="checkbox-icon" checked><br>

    <button type="submit">Créer</button>
  </form>
</div>
</body>
</html>